* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #fdfdfd;
  color: #222;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  border-bottom: 1px solid #ccc;
  padding: 10px 30px;
}

.logo {
  font-weight: bold;
  font-size: 22px;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: 0.2s;
}

nav a.active, nav a:hover {
  color: #007bff;
}

.cart {
  font-size: 18px;
  font-weight: bold;
}


main {
  padding: 20px 40px;
}


.slider {
  display: flex;
  justify-content: center;

}

.slider-track {
  display: flex;
  overflow: hidden;
  scroll-behavior: smooth;
  width: 100%;
  justify-content: center;
}

.item {
  flex: 0 0 220px;
  margin: 10px;
  background: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
  transition: 0.2s;
}

.item:hover {
  transform: scale(1.03);
}

.image-placeholder {
  width: 100%;
  height: 150px;
  background: #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #555;
  border-radius: 6px;
  margin-bottom: 10px;
}

.price {
  margin: 5px 0;
  font-weight: bold;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.buttons button {
  width: 25px;
  height: 25px;
  border: none;
  border-radius: 50%;
  background: #007bff;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

/*.buttons button:hover {
  background: #0056b3;
}

.arrow {
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
  color: #333;
  user-select: none;
}

.arrow:hover {
  color: #007bff;
}


table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table th, table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

table th {
  background: #f5f5f5;
}


#orders ul, #orders-list {
  margin-top: 15px;
  list-style: none;
}

#orders-list li {
  background: #f0f0f0;
  padding: 10px;
  margin: 5px 0;
  border-radius: 8px;
}

/* Скрытие секций */
.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}
